<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pawdicted"
        tools:targetApi="31">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity
            android:name=".ProductDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".BackBarActivity"
            android:exported="false" />
        <activity
            android:name=".RatingActivity"
            android:exported="true" />
        <activity
            android:name=".NewArrivalActivity"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"/>
        <activity
            android:name=".RefundReturnRequestActivity"
            android:exported="false" />
        <activity
            android:name=".RefundReturnDetailActivity"
            android:exported="false" />
        <activity
            android:name=".EvaluateActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".VoucherManagementActivity"
            android:exported="false" />
        <activity
            android:name=".CancellationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PurchaseOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordSettingActivity"
            android:exported="false" />
        <activity
            android:name=".LanguageSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="true" />
        <activity
            android:name=".PolicynSecurityActivity"
            android:exported="true" />
        <activity
            android:name=".FAQActivity"
            android:exported="true" />
        <activity
            android:name=".SettingManagementActivity"
            android:exported="false" />
        <activity
            android:name=".FlashSaleActivity"
            android:exported="true" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileManagementActivity"
            android:exported="false" />
        <activity
            android:name=".BlogDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".BlogActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".CategoryActivity"
            android:exported="true" />
        <activity
            android:name=".CategoryDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".FooterActivity"
            android:exported="false" />
        <activity
            android:name=".ToolBarActivity"
            android:exported="false" />
        <activity
            android:name=".AccountManagementActivity"
            android:exported="false" />
        <activity
            android:name=".HomepageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangeForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- Meta data -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>